#contactForm {
  margin-bottom: 50px;
}
#contactForm input {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  width: 60%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#contactForm textarea {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
  height: 90px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
}
#contactForm button {
  margin-top: 20px;
  color: white;
  text-transform: uppercase;
  background: #501a85;
  width: 20%;
  height: 40px;
}
